// button hover mixin

@mixin button($color) {
    background-color: $color;
    border-color: $color; 
    color: $color-light;
    width: auto;

    &:hover {
        background-color: lighten($color, 3%);
    } 
}