@import "helpers/_mixins.scss";

.btn {
    text-decoration: none;
    font-weight: $semibold;
    font-style: $sans-serif;
    padding: 12px 36px;
    border-radius: 5px;

    &--primary {
        @include button($color-accent);
    }

    &--secondary {
        @include button($color-dark);
    }
}

