.__navbar {
    background-color: $color-bg;
    height: 80px;

    img {
        display: inline;
        padding-left: 20px;
    }

    ul {
        padding-left: 0;
        margin: 0;
    }

    &-container {
        display: flex;
        padding: 10px 30px;
        justify-content: space-between;
        align-items: center;
    }

    &-links {
        display: flex;
        list-style-type: none;
        padding-right: 20px;
    }

    &-item {
        margin-left: 30px;
    }

    &-toggle {
        font-size: 40px;
        display: none;
    }

    @media (max-width: 768px) {
        &-toggle {
            // position: absolute;
            // top: 0;
            // right: 0;
            display: inline-block;
        }
        
        &-links {
            display: none;
        }
    
    }
    
}