.section {
    &__container-two-col {
        display: flex;
        flex-wrap: wrap;
        .col-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            padding-left: 15px;
            padding-right: 15px;
            h2 {
                padding: 0 0 15px 0;
            }
            @media only screen and (max-width: 700px) {
                padding: 15px;
            }
            img {
                max-width: 100%;
                padding: 15px;
            }
        }
        @media only screen and (max-width: 700px) {
            flex-direction: column;
        }
    }
}