.section {
    &__container-two-col {
        display: flex;
        flex-wrap: wrap;
        .col-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            padding-left: 15px;
            padding-right: 15px;
            h2 {
                padding: 0 0 15px 0;
            }
            @media only screen and (max-width: 700px) {
                padding: 15px;
            }
            img {
                max-width: 100%;
                padding: 15px;
            }
        }
        @media only screen and (max-width: 700px) {
            flex-direction: column;
        }
    }
    &__container-three-col {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .col-3 {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            flex: 1; // padding-left: 15px;
            // padding-right: 15px;
        }
    }
}

.__center-text {
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
}

.__section-headline {
    padding-bottom: 80px;
    :first-child {
        padding-bottom: 24px;
    }
}

.__how-we-work {
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../../assets/how-work.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    padding: 110px 0;
    color: #ffffff;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #01c687;
        opacity: 0.8;
        z-index: -1;
    }
    .__item:hover {
        .--border-circle {
            background-color: rgba(255, 255, 255, 0.8);
        }
        h3.headline-sm:first-child {
            color: $color-accent;
        }
    }
}

.--border-circle {
    border: 2px solid #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 36px;
    padding-top: 17px;
}

.__testimonials {
    background-color: $color-bg;
    text-align: center;
    padding: 110px 0;
    .__testimonial-box {
        background-color: $color-bg-dark;
        transition: 0.3s all ease;
        position: relative;
        z-index: 1;
        padding: 20px 26px;
        .__testimonial-text {
            padding-bottom: 16px;
            text-align: left;
        }
        &:hover {
            box-shadow: $box-shadow;
        }
        i {
            position: absolute;
            left: 26px;
            top: 20px;
            color: $color-bg;
            font-size: 4rem;
            z-index: -1;
        }
        &__profile {
            display: flex;
            img {
                background-color: #ffe8c4;
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }
            .__profile-description {
                padding-left: 10px;
                p:first-child {
                    font-weight: $bold;
                }
                p:last-child {
                    text-align: left;
                }
            }
        }
    }
}

.__meet-the-team {
    padding: 110px 0;
    .col-4 {
        padding: 0 15px;
    }
    .__team-members {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.__pricing-item {
    padding: 35px 75px;
    margin: 0 15px;
    transition: 0.3s all ease;
    text-align: center;
    &:hover {
        box-shadow: $box-shadow;
    }
    ul {
        list-style-type: none;
        padding: 30px 0;
        margin: 0;
    }
    .--price-bg {
        background-image: url(../../assets/price-bg.png);
        background-size: contain;
        padding: 54px 10px;
        background-repeat: no-repeat;
        background-position: center;
    }
    h3 {
        padding-bottom: 16px;
    }
}

.__blog {
    padding: 110px 0;
    .__blog-item {
        flex: 1;
        padding: 0 10px;
        .__blog-text {
            padding: 20px 20px 0 0;
            p {
                padding-top: 10px;
                padding-bottom: 30px;
            }
        }
    }
}

.__footer-expanded {
    background-color: $color-bg;
    padding: 110px 0;
    input {
        display: inline-block;
        width: 100%;
        padding: 16px 18px;
        background-color: #ffffff;
        border: 0;
        outline: 0;
        color: #6c6c6c;
        font-size: 12px;
    }
    div {
        margin-top: 25px;
    }
    h3 {
        padding-bottom: 25px;
    }
    .__footer-item {
        flex: 1;
        padding: 0 15px;
        &:nth-child(2) {
            margin-left: 100px;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}