.service {
    padding: 44px 22px;
    text-align: center;
    border: 1px dotted $color-dark;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    max-width: 370px;
    width: 100%;
    flex: 1;

    &:hover {
       box-shadow: 0 0 10px #888888;
    }

    &:hover .bar {
        width:100%;
    }

    &__container {
        padding: 15px;
    }

    .bar {
        width: 0;
        height: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $color-accent;
        transition: 0.3s all ease;
    }
}



