body {
    font-size: 16px;
    line-height: 26px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.--p-b-16 {
    padding-bottom: 16px;
}

.--p-t-24 {
    padding-top: 24px;
}

.--p-t-110 {
    padding-top: 110px;
}

.--p-b-110 {
    padding-bottom: 110px;
}

.--p-b-90 {
    padding-bottom: 90px;
}

.--p-b-36 {
    padding-bottom: 36px;
}

.--p-b-24 {
    padding-bottom: 24px;
}

