footer {
    background-color: $color-accent;
    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: map-get($breakpoints, wide);
        width: 100%;
        margin: 0 auto;
    }

    & .__copyright {
        padding-left: 15px;
    }

    & .__social {
        font-size: 36px;
        padding-right: 15px;
    }
}

