.__hero {
    background-image: url(../../assets/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 5;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    .__hero-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 100px;
        .img-wrap {
            width: 100%;
            padding: 0 30px;
            flex: 1;
            img {
                max-width: 100%;
            }
        }
        .content-wrap {
            h1 {
                line-height: 1.25em;
            }
            padding: 0 30px;
            align-self: center;
            flex: 1;
            p {
                padding: 40px 0;
            }
        }
    }
    @media only screen and (max-width: $phone-lg) {
        .__hero-items {
            flex-direction: column;
        }
    }
}