article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 26px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.--p-b-16 {
  padding-bottom: 16px; }

.--p-t-24 {
  padding-top: 24px; }

.--p-t-110 {
  padding-top: 110px; }

.--p-b-110 {
  padding-bottom: 110px; }

.--p-b-90 {
  padding-bottom: 90px; }

.--p-b-36 {
  padding-bottom: 36px; }

.--p-b-24 {
  padding-bottom: 24px; }

.--accent-text {
  color: #01c687; }

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.headline-lg {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2em; }

.headline-md {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2em; }

.headline-sm {
  font-size: 1.5rem;
  font-weight: 600; }

.headline-xs {
  font-size: 1.25rem;
  font-weight: 600; }

p {
  font-size: 1rem;
  font-weight: 400; }

.btn {
  text-decoration: none;
  font-weight: 600;
  font-style: "Poppins", sans-serif;
  padding: 12px 36px;
  border-radius: 5px; }
  .btn--primary {
    background-color: #01c687;
    border-color: #01c687;
    color: #ffffff;
    width: auto; }
    .btn--primary:hover {
      background-color: #01d591; }
  .btn--secondary {
    background-color: #2f2f39;
    border-color: #2f2f39;
    color: #ffffff;
    width: auto; }
    .btn--secondary:hover {
      background-color: #363641; }

.service {
  padding: 44px 22px;
  text-align: center;
  border: 1px dotted #2f2f39;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  max-width: 370px;
  width: 100%;
  flex: 1; }
  .service:hover {
    box-shadow: 0 0 10px #888888; }
  .service:hover .bar {
    width: 100%; }
  .service__container {
    padding: 15px; }
  .service .bar {
    width: 0;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #01c687;
    transition: 0.3s all ease; }

.section__container-two-col {
  display: flex;
  flex-wrap: wrap; }
  .section__container-two-col .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; }
    .section__container-two-col .col-2 img {
      max-width: 100%; }

.section__container-three-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .section__container-three-col .col-3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex: 1; }

.--accent-background {
  background: #defcf5; }

.__center-text {
  text-align: center;
  max-width: 550px;
  margin: 0 auto; }

.__section-headline {
  padding-bottom: 80px; }
  .__section-headline :first-child {
    padding-bottom: 24px; }

.__how-we-work {
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(../../assets/how-work.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  padding: 110px 0;
  color: #ffffff; }
  .__how-we-work:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #01c687;
    opacity: 0.80;
    z-index: -1; }
  .__how-we-work .__item:hover .--border-circle {
    background-color: rgba(255, 255, 255, 0.8); }
  .__how-we-work .__item:hover h3.headline-sm:first-child {
    color: #01c687; }

.--border-circle {
  border: 2px solid #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 36px;
  padding-top: 17px; }

.__testimonials {
  background-color: #defcf5;
  text-align: center;
  padding: 110px 0; }
  .__testimonials .__testimonial-box {
    background-color: #c7ece3;
    transition: 0.3s all ease;
    position: relative;
    z-index: 1;
    padding: 20px 26px; }
    .__testimonials .__testimonial-box .__testimonial-text {
      padding-bottom: 16px;
      text-align: left; }
    .__testimonials .__testimonial-box:hover {
      box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.3); }
    .__testimonials .__testimonial-box i {
      position: absolute;
      left: 26px;
      top: 20px;
      color: #defcf5;
      font-size: 4rem;
      z-index: -1; }
    .__testimonials .__testimonial-box__profile {
      display: flex; }
      .__testimonials .__testimonial-box__profile img {
        background-color: #ffe8c4;
        border-radius: 50%;
        width: 60px;
        height: 60px; }
      .__testimonials .__testimonial-box__profile .__profile-description {
        padding-left: 10px; }
        .__testimonials .__testimonial-box__profile .__profile-description p:first-child {
          font-weight: 700; }
        .__testimonials .__testimonial-box__profile .__profile-description p:last-child {
          text-align: left; }

.__meet-the-team {
  padding: 110px 0; }
  .__meet-the-team .col-4 {
    padding: 0 15px; }
  .__meet-the-team .__team-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.__pricing-item {
  padding: 35px 75px;
  margin: 0 15px;
  transition: 0.3s all ease;
  text-align: center; }
  .__pricing-item:hover {
    box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.3); }
  .__pricing-item ul {
    list-style-type: none;
    padding: 30px 0;
    margin: 0; }
  .__pricing-item .--price-bg {
    background-image: url(../../assets/price-bg.png);
    background-size: contain;
    padding: 54px 10px;
    background-repeat: no-repeat;
    background-position: center; }
  .__pricing-item h3 {
    padding-bottom: 16px; }

.__blog {
  padding: 110px 0; }
  .__blog .__blog-item {
    flex: 1;
    padding: 0 10px; }
    .__blog .__blog-item .__blog-text {
      padding: 20px 20px 0 0; }
      .__blog .__blog-item .__blog-text p {
        padding-top: 10px;
        padding-bottom: 30px; }

.__footer-expanded {
  background-color: #defcf5;
  padding: 110px 0; }
  .__footer-expanded input {
    display: inline-block;
    width: 100%;
    padding: 16px 18px;
    background-color: #ffffff;
    border: 0;
    outline: 0;
    color: #6c6c6c;
    font-size: 12px; }
  .__footer-expanded div {
    margin-top: 25px; }
  .__footer-expanded h3 {
    padding-bottom: 25px; }
  .__footer-expanded .__footer-item {
    flex: 1;
    padding: 0 15px; }
    .__footer-expanded .__footer-item:nth-child(2) {
      margin-left: 100px; }
  .__footer-expanded ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }

.__hero {
  background-image: url(../../assets/banner-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 5;
  padding-top: 80px; }
  .__hero .__hero-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px; }
  .__hero p {
    padding: 40px 0; }
  .__hero div {
    align-self: center; }
  .__hero img {
    max-width: 100%; }

.__services {
  padding-top: 110px; }

.__navbar {
  background-color: #defcf5;
  height: 80px; }
  .__navbar img {
    display: inline;
    padding-left: 20px; }
  .__navbar ul {
    padding-left: 0;
    margin: 0; }
  .__navbar-container {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center; }
  .__navbar-links {
    display: flex;
    list-style-type: none;
    padding-right: 20px; }
  .__navbar-item {
    margin-left: 30px; }
  .__navbar-toggle {
    font-size: 40px;
    display: none; }
  @media (max-width: 768px) {
    .__navbar-toggle {
      display: inline-block; }
    .__navbar-links {
      display: none; } }

footer {
  background-color: #01c687; }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto; }
  footer .__copyright {
    padding-left: 15px; }
  footer .__social {
    font-size: 36px;
    padding-right: 15px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container--flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
